SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_FROM=example@example.com
SMTP_PASS=example
SMTP_TARGET=example@example.com

CRON_PERIOD="10 * * * 5"

LICHESS_TOKEN=example
LICHESS_URL=https://lichess.org/api

TOURNAMENT_NAME="Torneo de los Viernes DCyT"
TOURNAMENT_TIMEZONE="America/Caracas"
TOURNAMENT_MINUTES=60
TOURNAMENT_VARIANTS="standard,chess960,crazyhouse,horde,racingKings"
TOURNAMENT_DESCRIPTION="Torneo semanal de ajedrez online organizado por el club Bobby Fisher DCyT. ¡Participa y demuestra tus habilidades!"
TOURNAMENT_HASCHAT=true
TOURNAMENT_BERSERKABLE=true
TOURNAMENT_RATED=true
TOURNAMENT_STREAKABLE=true
TOURNAMENT_WAITMINUTES=5
TOURNAMENT_PASSWORD=""
TOURNAMENT_TEAMBATTLEBYTEAM=""
TOURNAMENT_TEAMID=""
